.loginBackground {
    /* background-image: url('../../img/login-bg.png'); */
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.loginBackground .footer p {
    left: 0% !important;
    text-align: center;
}