.page{
  font-family: sans-serif !important;
}
.page-layout {
    display: flex;
  }
  .container-wrapper {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    background: #f5f9fc;
  }
  
  .container-wrapper {
    justify-content: center;
    display: flex;
  }